# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\毕业设计\源代码\ssm_jydsjdxsydwz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
